body {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  background-image: url("Media/backround-img.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background-color: #ffffff9d;
  box-shadow: 0 30px 50px rgba(96, 92, 104, 0.3);
  max-width: 700px;
  margin: 60px auto;
  display: block;
  padding: 40px;
  border-radius: 10px;
}

header {
  border-bottom: 1px solid #eaedf0;
  padding: 0 0 30px 0;
}

form {
  display: block;
}

.text-form {
  background-color: #f5f6f7;
  padding: 18px 25px;
  font-size: 15px;
  width: 74%;
  border-radius: 5px;
  border: none;
}

.button {
  background-color: #066be5;
  color: #f9f7fe;
  padding: 18px 35px;
  margin-left: 8px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  transition: all 150ms ease-in-out;
}

.button:hover {
  background-color: #4a99f3;
  cursor: pointer;
}

main {
  padding: 30px 0;
}

.weather-data {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin: 0;
  font-size: 38px;
  line-height: 45px;
}

p {
  color: rgb(74 153 243);
  font-size: 18px;
  line-height: 40px;
  margin-top: 0;
}

strong {
  color: #0a478d;
}

.temperature-container {
  display: flex;
}

.weather-icon {
  width: 88px;
  height: 88px;
}

.temperature {
  font-size: 88px;
  font-weight: 400px;
  margin-left: 10px;
  line-height: 1;
}

.unit {
  margin-top: 0;
  font-size: 25px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: rgb(74 153 243);
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  text-align: center;
  font-size: 30px;
}

.weather-forecast-temperatures {
  display: flex;
  color: #0a478d;
  justify-content: center;
  margin-top: 10px;
}

.temp {
  padding: 0 10px;
}

footer {
  border-top: 1px solid #eaedf0;
  padding: 30px 0 0 0;
  font-family: "monospace", Courier New;
  font-size: 12px;
  text-align: center;
  color: #404347;
}

a {
  text-decoration: none;
  color: #006be5;
  transition: all 150ms ease-in-out;
}

a:hover {
  color: #0a478d;
}
