body {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f9f7fe;
}

.container {
  background-color: #fff;
  box-shadow: 0 30px 50px rgba(94, 88, 107, 0.2);
  max-width: 700px;
  margin: 60px auto;
  display: block;
  padding: 40px;
  border-radius: 10px;
}
